doctype html
html
  head
    meta(name='author' content='Sentiurin Vladimir')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    noscript Внимание! В вашем браузере отключен JavaScript. Для корректной работы сайта, рекомендуем включить JavaScript!
    block content

  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='/js/main.js')
  footer
    span Bombanzai! &copy; 2016
